@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  height: 497px;
  width: 320px;
  background-color: #ffffff;
  border-radius: 20px;
}

.card_img {
  padding: 20px;
}

.card_img img {
  width: 100%;
  border-radius: 10px;
}

.card_desc {
  padding: 20px;
  text-align: center;
}

.card_title h1 {
  font-family: "outfit";
  font-size: 24px;
  font-weight: 700;
  color: #1f314f;
}

.card_p {
  font-family: "outfit";
  font-size: 15px;
  color: #7d889e;
  padding-top: 10px;
  font-weight: 400;
}

@media only screen and (max-width: 375px) {
  
}
